@font-face {
  font-family: 'LogoFont';
  src: url('./public/assets/fonts/Teko-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.root {
  width: 100vw;
  overflow: hidden;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 64px;
  overflow: hidden;
}

.Header-Container {
  width: 80%;
  height: 64px;
  margin-right: 5%;
  margin-left: 5%;
  padding-right: 1%;
  padding-left: 1%;
  border-radius: 0px 0px 5px 5px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
  position: fixed;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
}

.User-Icon {
  height: 32px;
  cursor: pointer;
}

.Landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.Hero-Container {
  width: 100%;
  height: 448px;
  margin-top: 96px;
  background-image: url("/src/public/assets/images/LecturingImage.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.Hero-Text-Container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 16px;
  width: fit-content;
  border-radius: 5px;
  margin: 32px;
}

.Hero-Title {
  color: black;
  font-size: larger;
  font-weight: bold;
}

.Hero-Undertitle {
  color: black;
}

.Course-Hierarchy-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.Course-Container {
  height: 288px;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: auto;
}

.Rights-Container {
  height: 64px;
  width: 100vw;
  padding-left: 16px;
  background-color: rgb(64,64,64);
  display: flex;
  justify-content: left;
  align-items: center;
}

.Logo-Text {
  background: #167DC3;
  font-family: 'LogoFont', sans-serif;
  font-size: x-large;
  padding: 4px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Course-Card-Container {
  height: 256px;
  width: 196px;
  min-width: 196px;
  background-color: #fafafa;
  border: solid 1px;
  border-color: rgb(150, 150, 150);
  border-radius: 5px;
  padding: 0px;
  display: flex;
  align-items: left;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
}

.Course-Card-Info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.Disclamer-Container {
  height: 64px;
  width: 100vw;
  padding: 16px;
  background-color: rgb(64,64,64);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: rgb(48,48,48);
}

.Disclamer-Text {
  background: #ff0000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.WTT-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.WTT-Paragraph {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 1024px;
}

.Trending-Topics-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.Topic-Card-Container {
  width: 256px;
  height: 48px;
  background-color: #fafafa;
  border: solid 1px;
  border-color: rgb(150, 150, 150);
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  border-color: rgb(150, 150, 150);
  color: #167DC3;
  font-family: 'LogoFont', sans-serif;;
  font-size: xx-large;
  letter-spacing: 1px;
  padding-bottom: 8px;
  margin: 0px;
}

h3 {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid;
  border-color: #032D53;
  color: #032D53;
  font-family: 'LogoFont', sans-serif;;
  font-size: x-large; 
  letter-spacing: 1px;
  padding-bottom: 8px;
  margin: 0px;
}

.Course-Main-Container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 64px;
  padding-bottom: 64px;
  background: radial-gradient(circle, #032D54, #021e38);
}

.Course-Main-Card-Container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.Course-Showcase-Container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Course-Meta-Container {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.Breadcrumbs-Container {
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: solid 1px rgb(92, 92, 92);
}

.Course-Description-Container {
  padding-left: 5%;
  padding-right: 5%;
}

.Login-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  width: 512px;
  height: 512px;
  gap: 16px;
}

.Search-Container {
  width: 80%;
  margin-top: 128px;
  gap: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  cursor: pointer;
}

button {
  height: 32px;
  margin: 8px;
  background-color: #167DC3;
  border-radius: 5px;
  background: transparent;
  color: #167DC3;
  border-color: #167DC3;
  border-style: solid;
  font-size: medium;
  cursor: pointer;
}

button:disabled {
  background-color: #24323b4f;
  background: transparent;
  color: #24323b4f;
  border-color: #24323b4f;
  cursor: default;
}

.Enroll-Button {
  background: linear-gradient(to top, #dfb734, #ffcc33, #ffdb58, #ffcc33, #dfb734);
  color: #032D54;
  font-size: large;
  border: none;
  width: 192px;
  height: 64px;
}

.Button-Header {
  width: 96px;
}

.Sign-Up-Button {
  width: 96px;
  background-color: #167DC3;
  background: solid;
  color: #fafafa;
}

.Search-Input {
  width: 100%;
  height: 32px;
  padding-left: 4px;
  border-radius: 5px;
  border: none;
  background: transparent;
}

input {
  border-radius: 5px;
  border: solid 1px rgb(150, 150, 150);
  padding: 8px;
  background: #ffffff;
}

select {
  border-radius: 5px;
  border: solid 1px rgb(150, 150, 150);
  padding: 8px;
  background: #ffffff;
}

.Search-Input:focus {
  outline: none;
}

Search-Bar-Container {
  display: flex;
  flex-direction: column;
}

.Search-Bar-Input-Container {
  max-width: 512px;
  height: 32px;
  padding-left: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: medium;
  border-style: solid;
  background: #fafafa;
  border: solid 1px rgb(150, 150, 150);
}

.Search-Bar-Result-Container {
  max-width: 520px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 5px;
  padding: 16px;
}

.Search-Bar-Result-Container p:nth-child(even) {
  background-color: #f0f0f0; /* Light gray */
}

.Search-Bar-Result-Container p:nth-child(odd) {
  background-color: #ffffff; /* White */
}

.Search-Result {
  flex-grow: 1;
  border-bottom: solid 1px rgb(150, 150, 150);
}

.Search-Result p:last-child {
  border-bottom: none;
}

.Text-Light {
  color: rgb(232, 250, 255);
}

.Text-Light-Title {
  font-size: x-large;
  color: rgb(232, 250, 255);
}

.star-icon {
  width: 16px;
}

.rating-Container {
  display: flex;
  align-items: end;
}

.Dropdown-Content-Container {
  display: flex;
  flex-direction: column;
}

.Filter-Container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-width: 320px;
  gap: 32px;
}

.custom-slider {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-track {
  background: #fafafa;
  height: 10px;
  border-radius: 5px;
  border: solid 1px rgb(150, 150, 150);
}

.custom-thumb {
  height: 20px;
  width: 20px;
  background: #167DC3;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.Results-Container {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  gap: 16px;
  flex-grow: 1;
}

.Search-Result-Card-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  flex-grow: 1;
  max-height: 128px;
  border-radius: 5px;
  border: solid 1px rgb(150, 150, 150);
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
}

.Pager-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-height: 32px;
}

.Order-Overview-Main-Container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  padding-top: 96px;
  padding-bottom: 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: radial-gradient(circle, #032D54, #021e38)
}

.Payment-Information-Container {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 8px;
  padding: 64px;
  border-radius: 5px;
  background: #f1f1f1;
}

.Duration-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border-radius: 5px;
  padding: 8px;
}

.User-Option-Container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #fafafa;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
}

.User-Option-Container p {
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
}

/* Add a divider between items, except after the last one */
.User-Option-Container p:not(:last-child) {
  border-bottom: 1px solid #ddd;
}