@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'LogoFont';
  src: url('./public/assets/fonts/Teko-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.root {
  width: 100vw;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  background: #fdfdff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  overflow: hidden;
}

textarea {
  width: 90vw;
  height: 100%;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px rgb(150, 150, 150);
  background: #ffffff;
}

img {
  aspect-ratio: 5 / 3;
  object-fit: cover;
  image-rendering: auto;
}

/* --------- Header component --------- */

.Header-Container {
  width: 80%;
  height: 64px;
  margin-right: 5%;
  margin-left: 5%;
  padding-right: 1%;
  padding-left: 1%;
  border-radius: 0px 0px 5px 5px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  position: fixed;
  display: flex;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  gap: 16px;
}

.Left-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}

.Search-Bar-Container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Search-Bar-Input-Container {
  height: 32px;
  padding-left: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: medium;
  border-style: solid;
  background: #ffffff;
  border: solid 1px #b2c0ca;
}

.Search-Bar-Result-Container {
  min-width: 320px;
  max-height: 90vh;
  position: absolute;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 1px #b2c0ca;
  border-radius: 5px;
  padding: 16px;
  z-index: 1000;
  overflow-y: scroll;
}

@media (max-width: 607px) {
  .Search-Bar-Result-Container {
    max-width: 90vw;
    min-width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    left: 0;
  }
}

.Search-Bar-Result-Container > * {
  margin: 0;
  padding: 16px;
  border-bottom: 1px solid #b2c0ca;
}

.Search-Bar-Result-Container p:last-child {
  border-bottom: none;
}

.Authentication-Container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Hamburger-Icon {
  height: 32px;
  width: 32px;
  display: none;
}

.Key-Icon {
  width: 32px;
  height: 32px;
  display: none;
}

.Login-Options-Container {
  width: 32px;
  height: 32px;
  visibility: hidden;
}

.Hamburger-Menu-Container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  transform: translateX(-100%);
  top: 0;
  padding: 16px;
  gap: 16px;
  width: 75vw;
  max-width: 256px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
}

.Hamburger-Menu-Container > :first-child {
  visibility: hidden;
  height: 0px;
}

.Hamburger-Menu-Container.true {
  animation: show-menu 0.25s forwards;
}

.Hamburger-Menu-Container.false {
  animation: hide-menu 0.25s forwards;
}

.Header-Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@keyframes show-menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hide-menu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1024px) {

  .Header-Container {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 0;
    margin-right: 0;
  }

  .Course-Container {
    padding-left: 16px;
  }

  .Header-Logo {
    display: none;
  }

  .Hamburger-Icon {
    display: flex;
  }

  .Key-Icon {
    display: flex;
  }

  .Authentication-Container {
    display: none;
  }

  .Login-Options-Container {
    visibility: visible;
  }

  .Hamburger-Menu-Container > :first-child {
    visibility: visible;
    height: 64px;
  }
  
}

/* ------------------------------------ */

/* ---------- Hero Component ---------- */

.Hero-Container {
  width: 100vw;
  max-width: 1024px;
  height: 50vh;
  max-height: 576px;
  background-image: url("/src/public/assets/images/LecturingImage.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.Hero-Text-Container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px;
  gap: 8px;
  width: fit-content;
  border-radius: 5px;
  margin: 32px;
}

.Hero-Title {
  color: black;
  font-size: clamp(13px, 2.5vw, 20px);;
  font-weight: 500;
  margin: 0px;
}

.Hero-Undertitle {
  color: black;
  font-size: clamp(11px, 2.5vw, 16px);
  margin: 0px;
}

/* ------------------------------------ */

/* -------- Hierarchy Component -------- */

.Course-Hierarchy-Container {
  width: 100vw;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.Course-Container {
  height: 288px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  gap: 8px;
}

.Course-Card-Container {
  height: 256px;
  width: 1px;
  min-width: 196px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  display: flex;
  align-items: left;
  flex-direction: column;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  transition: box-shadow 0.25s, transform 0.25s;
}

.Course-Card-Container:hover {
  cursor: pointer;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
  transform: scale(1.02);
}

@media screen and (max-width: 1024px) {

  .Course-Container {
    padding-left: 16px;
  }
  
}

/* ------------------------------------- */

.icon {
  aspect-ratio: 1/1;
  width: 16px;
  height: 16px;
  padding-bottom: 4px;
}

.User-Icon {
  cursor: pointer;
}

.Landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.Footer-Container {
  display: flex;
  flex-direction: column;
  background-color: #1d2930;
  justify-content: center;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.Rights-Container {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: 1px solid #021e38;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Footer-Options-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #021e38;
  gap: 32px;
  background-color: #1d2930;
  justify-content: center;
  align-items: center;
}

.Company-Logo {
  aspect-ratio: 1/1;
  height: 48px;
  width: 48px;
}

.Logo-Text {
  background: #0077eb;
  font-family: 'LogoFont', sans-serif;
  font-size: x-large;
  padding: 4px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Course-Card-Info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.Disclamer-Container {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Disclamer-Text {
  background: #FF4B4B;
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.WTT-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.WTT-Paragraph {
  text-align: center;
  width: 90vw;
  max-width: 1024px;
}

.Trending-Topics-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1024px;
}

.Topic-Card-Container {
  width: 256px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  transition: box-shadow 0.25s,  transform 0.1s;
}

.Topic-Card-Container:hover {
  cursor: pointer;
  box-shadow: 0px 1px 10px rgba(0, 2, 90, 0.25);
  transform: scale(1.02);
}

h1, h2, h3, h4 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  border-color: #b2c0ca;
  color: #0077eb;
  padding-bottom: 8px;
  margin: 0px;
}

h3 {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid;
  border-color: #b2c0ca;
  color: #1d2930;
  font-size: large; 
  letter-spacing: 1px;
  padding-bottom: 8px;
  margin: 0px;
}

h4 {
  color: #092E54;
  text-align: left;
  margin: 8px;
}

.Course-Main-Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 64px;
  padding-bottom: 64px;
  align-items: center;
  background: radial-gradient(circle, #032D54, #021e38);
}

.Course-Main-Card-Container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  gap: 16px;
}

.Course-Showcase-Container {
  min-height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Course-Showcase-Container-Header {
  display: flex;
  flex-direction: column;
}

.Course-Meta-Container {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.Breadcrumbs-Container {
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: solid 1px rgb(92, 92, 92);
  width: 100vw;
  max-width: 1024px;
}

.Course-Information-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

.Course-Meta-Container {
  width: 100%;
  max-width: 1024px;
}

.Course-Description-Container {
  width: 100%;
  max-width: 1024px;
}

.Review-Main-Container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.Review-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 512px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  border-radius: 5px;
  padding: 16px;
}

.Login-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 512px;
  width: 100vw;
  max-width: 512px;
  padding: 128px;
  gap: 16px;
}

.Search-Container {
  width: 100vw;
  gap: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 128px;
}

p {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 8px;
}

b {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

button {
  min-width: 96px;
  min-height: 32px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  background: linear-gradient(135deg, #0077eb, #2694ff, #0077eb);
}

button:hover:enabled {
  background: #004588;
}

button:disabled {
  background: #b2c0ca;
  cursor: default;
}

.button-secondary {
  background: transparent;
  color: #0077eb;
  border: 1px solid #0077eb;
}

.button-secondary:hover:enabled {
  background: #004588;
  color: #ffffff;
  border: none;
}

.button-enroll {
  background: linear-gradient(135deg, #dfb734, #ffcc33, #ffdb58, #ffcc33, #dfb734);
  color: #004588;
  min-width: 160px;
  min-height: 48px;
  font-size: medium;
}

.button-enroll:hover:enabled {
  background: linear-gradient(135deg, #cca830, #e9ba2f, #f0ce53, #e9ba2f, #cca830);
  color: #ffffff;
}

.button-delete {
  background: linear-gradient(45deg, #FF4B4B, #FF4B4B);
}

.button-delete:hover:enabled {
  background: linear-gradient(45deg, #c73939, #c73939);
}

.Search-Input {
  width: 100%;
  height: 32px;
  padding-left: 4px;
  border-radius: 5px;
  border: none;
  background: transparent;
}

input {
  border-radius: 5px;
  border: solid 1px #b2c0ca;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #ffffff;
  min-width: 128px;
}

input:disabled {
  color: black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #b2c0ca;
  border-radius: 0px;
}

select {
  border-radius: 5px;
  width: 171px;
  border: solid 1px #b2c0ca;
  padding: 8px;
  background: #ffffff;
}

.Search-Input:focus {
  outline: none;
}

.Search-Result {
  flex-grow: 1;
  border-bottom: solid 1px rgb(150, 150, 150);
}

.Search-Result p:last-child {
  border-bottom: none;
}

.Topic-Search-Container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
}

.Selected-Topics-Container > * {
  margin: 4px;
}

.Text-Light {
  padding-bottom: 3px;
  color: #fdfdff;
}

.Text-Price {
  font-size: larger;
  font-weight: 500;
}

.Text-Price.light {
  color: #fdfdff;
}

.Text-Light-Title {
  font-size: x-large;
  color: #fdfdff;
}

.star-icon {
  aspect-ratio: 1/1;
  width: 16px;
  height: 16px;
}

.rating-Container {
  display: flex;
  align-items: end;
}

.Dropdown-Content-Container {
  display: flex;
  flex-direction: column;
}

.Filter-Container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-width: 320px;
  gap: 32px;
}

.custom-slider {
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-track {
  background: #ffffff;
  height: 10px;
  border-radius: 5px;
  border: solid 1px rgb(150, 150, 150);
}

.custom-thumb {
  height: 20px;
  width: 20px;
  background: #2694ff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.Results-Container {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  min-width: 320px;
  max-width: 600px;
  gap: 16px;
}

.Search-Result-Card-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  max-height: 128px;
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
  max-width: 640px;
}

.Search-Result-Card-Container > :first-child {
  max-height: 100%;
}

@media screen and (max-width: 1024px) {

  .Search-Result-Card-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    max-width: 320px;
    min-width: 320px;
    max-height: 1024px;
  }

  .Search-Result-Card-Container > :first-child {
    max-width: 100%;
  }

  .My-Course-Card-Container {
    align-items: center;
  }
  
}

.Pager-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-height: 32px;
  gap: 16px;
}

.Order-Overview-Main-Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 96px;
  padding-bottom: 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: radial-gradient(circle, #032D54, #021e38)
}

.Payment-Information-Container {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 8px;
  padding: 64px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25)
}

.Duration-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 8px;
}

.User-Option-Container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
}

.User-Option-Container p {
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
}

/* Add a divider between items, except after the last one */
.User-Option-Container p:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.Tos-Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 1024px;
  overflow-y: auto;
}

.Modal-Overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: #021e3860;
}

.Modal-Container {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(0, 0);
  padding: 32px;
  gap: 16px;
  max-width: 50vw;
  max-height: 80vh;
  min-width: 320px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 2, 90, 0.25);
  overflow-x: hidden;
}

.Text-Link {
  color: #167DC3;
  cursor: pointer;
  text-decoration: underline;
}

.Text-Warning {
  color: #ff0000;
}

.My-profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 128px;
  gap: 32px;
  justify-content: center;
}

.General-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Transaction-History-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
}

.Transaction-History-container > *:nth-child(odd) {
  background-color: #ffffff;
}

.Transaction-History-container > *:nth-child(even) {
  background-color: #f1f1f1;
}

.Transaction-History {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 8px;
}

.Enrolled-Courses-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.My-Course-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 1024px;
  width: 100vw;
  padding-top: 128px;
}

.My-Course-Card-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.My-Course-Filter-Container {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.Re-Open-Course-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Create-Course-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 128px;
  padding-left: 10%;
  padding-right: 10%;
}

.Create-Course-Fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.Create-Course-Image-Field-Container {
  display: flex;
  flex-direction: row;
}

.Create-Course-Field {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  justify-content: space-between;
}

.Create-Course-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Create-Course-Description {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 16px;
  padding-left: 32px;
  padding-right: 32px;;
}

.Topics-Button-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.Toaster-Container {
  width: 100vw;
  height: 96px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -96px;
  z-index: 0;
  padding-bottom: 8px;
}

.Toaster-Container.show {
  animation: slide-in 0.5s forwards;
}

.Toaster-Container.hide {
  animation: slide-out 0.5s;
}

.Toaster-Message-Container {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.Toaster-Message-Container.ERROR {
  background-color: rgb(255, 75, 75);
}

.Toaster-Message-Container.SUCCESS {
  background-color: rgb(75, 200, 75);
}

.Toaster-Message-Container.WARNING {
  background-color: rgb(255, 169, 40);
}

.Toaster-Message {
  color: #ffffff;
  padding-bottom: 6px;
  font-size: large;
  padding-left: 32px;
  padding-right: 32px;
}

.Users-Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 720px;
}

/* ----- Table ----- */

.Table-Wrapper {
  overflow-x: auto;
  width: 100%;
  max-width: 720px;
}

table {
  width: 100%;
  min-width: 320px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

th {
  background-color: #004588;
  color: #ffffff;
  text-align: left;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

td {
  padding: 14px 20px;
  font-size: 15px;
  color: #333333;
}

tr:nth-child(even) {
  background-color: #f5f8ff;
}

tr:hover {
  background-color: #e0ecff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table, th, td {
  border: 1px solid #e0e0e0;
}

/* ----------------- */

.User-Edit-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 320px;
}

.User-Edit-Input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Provider-Add-User-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.Tooltip-Container {
  position: relative;
}

.Tooltip-Container > :last-child {
  min-width: 128px;
  visibility: hidden;
  padding: 8px;
  background: #fdfdff;
  position: absolute;
  border-radius: 5px;
  font-size: small;
  z-index: 1000;
}

.Tooltip-Container:hover > :last-child {
  visibility: visible;
}

.checkbox {
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;
}

@keyframes slide-in {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(96px);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(96px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {

  .Create-Course-Image-Field-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .Create-Course-Field {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: space-between;
  }

  .Create-Course-Description {
    justify-content: center;
    align-items: center;
  }

  select {
    width: 100%;
  }
  
}